<div style = "padding : 20px 20px 20px 20px; background-color : gray; opacity: .6">
<div style = "border : solid black 1px; padding : 10px 15px 10px 15px; background-image: linear-gradient(to left bottom, #b3eb95, #74b77e, #428364, #1c5245, #052522);">
    <header>
        <h1 style ="color: black; font-family: monospace">Hello {{user}}</h1>
    </header>
    <hr>
<p style ="color : black; font-family: monospace;">Your authentication process is done.</p>
<p style ="color : black; font-family: monospace;">You have successfully logged in to our website hope you enjoy the service</p>
<hr>
<p style ="color : black; text-align: right; font-family: monospace;">Regards,</p>
<footer>
<p style ="color : black; text-align: right; font-family: monospace;">Team signup</p>
</footer>
</div>
</div>
