<div style="padding : 20px 20px 20px 20px; background-color : gray; opacity: .6">
    <div style="border : solid black 1px; padding : 10px 15px 10px 15px; background-image: radial-gradient(circle, #eaf2ef, #e5edea, #e1e9e6, #dce4e1, #d8e0dd);">
        <header>
            <h1 style="color: black; font-family: monospace">Hello {{user}}</h1>
        </header>
        <hr>
        <p>As you have forgotten your password and applied to Reset your password!</p>
        <p style="color : black; text-align: right; font-family: monospace;">please click on this link to reset the password
            <span>http://localhost:3000/reset/{{token}}</span></p>
        <hr>
        <p style="color : black; text-align: right; font-family: monospace;">Regards,</p>
        <footer>
            <p style="color : black; text-align: right; font-family: monospace;">Team signup</p>
        </footer>
    </div>
</div>