<div style = "padding : 20px 20px 20px 20px; background-color : gray; opacity: .6">
<div style = "border : solid black 1px; padding : 10px 15px 10px 15px; background-image: linear-gradient(to right top, #eff8ef, #edf7f0, #ebf6f0, #eaf5f1, #e9f4f1, #eaf4f2, #eaf4f2, #ebf4f3, #eef5f5, #f0f7f6, #f3f8f8, #f6f9f9);">
    <header>
        <h1 style ="color: black; font-family: monospace">Hi {{user}}</h1>
    </header>
    <hr>
<p style ="color : black; font-family: monospace;">Thanks for joining us.</p>
<p style ="color : black; font-family: monospace;">Signup process has been successfully completed and you can now login to ur website through your login credentials and enjoy the service.</p>
<p style ="color : black; text-align: center; font-family: monospace;">If any queries drop a mail at</p>
<p style ="color : black; text-align: center; font-family: monospace;">xxxxxx@mail.com</p>
<hr>
<footer>
<p style ="color : black; text-align: right; font-family: monospace;">Team signup</p>
</footer>
</div>
</div>

